<!DOCTYPE html>
<html lang="en">
  <link>
    <style>
     
      div>a{
        display: block;
        margin-top: 5px;
      }

      #Navbar {
    display: flex;
    /* justify-content: space-around; */
    background-color: palevioletred;
    height: 55px;
    text-align: center;
    font-size: 22px;
    margin-top: 0px;
    z-index: 1000;

}

#Navbar_box1 {
    display: flex;
    float: left;
}

#Navbar_box1>a {
    margin-left: 0px;
    margin-top: 15px;
    color: palegoldenrod;
    font-style: italic;
    font-weight: bolder;
    margin-left: 20px;
}

a:hover {
    font-size: 25px;
}

#Navbar_box2 {
    display: flex;
    margin-left: 645px;
    /* border: 1px solid black; */

}

#Navbar_box2>a {
    margin-left: 10px;
    margin-top: 15px;
    color: palegoldenrod;
    font-weight: bolder;
    padding-left: 5px;
    font-style: italic;
}

#Search input {
    border: none;
    border-bottom: 1px solid gray;
    margin-left: 40px;
    width: 280px;
    height: 28px;
    margin-top: 14px;
    outline: none;
    border-radius: 5px;

}
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="Navbar.css">   </link>
  </head>
  
  <body>
    
    <div>
      
      
      <div id="Navbar">
     <div id="Navbar_box1">
        <a href="/">Home Page</a>
        
      </div>
      
      <div id="Navbar_box2">
        <a href="signin">SignIn</a>
         <a href="login">Login</a> 
        <a href="Wishlist">Wishlist</a> 
          <a href="secure">Secure</a>
           <a href="logout">Logout</a>
      
      </div>    
        </div> 

  </div>
  </body>
</html>
<script>
 
</script>

