
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="Navbar.css">   </link>
</head>
   
<body>
             {{>Navbar}}
           <h1 id="h1"> LOGOUT</h1>
            <div id="box"></div>

</body>
</html>
 




























{{!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <h1>HELLO FROM THE AUTHENTICATION BROTHER</h1>
</body>
</html> --}}